/* universal selector - used to reset styles */
* {
    font-family: 'Times New Roman', "cursive", Arial;
    font-size: 16px;
    font-style: normal;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #c7bbc9;
    font-family: 'Times New Roman', Arial, georgia, 'lucida sans';
}

h1{
    background-color: rgb(94,60,88);
    font-size: 28px;
    font-family: "Outfit", 'Times New Roman', georgia, 'lucida sans';
    text-align: center;
    text-decoration: underline;
    width: 50%;
    height:85px;
    background-repeat: no-repeat;
    padding:3px 3px 0px 3px;
    margin:3px 3px 3px 3px;
    /* Top, left, right, bottom. Goes in this order, when you add more px to margin or padding for the box model properties */
    
}

.wrapground{
    background-color: pink;
    border: 4px solid rgb(94,60,88);
    height: 100px;
    max-width: cover;
    background-image: url("./images-assets/background-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin: auto;
    /* margin gives cool increase in image size when moving screen back and forth because of the cover property as well haha*/
} 

.secwrapground{
    background-color: pink;
    border: 4px solid rgb(94,60,88);
    height: 100px;
    max-width: cover;
    background-image: url("./images-assets/background-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
}

h2{
    color: #2e4045;
    background-color:  rgb(131,173,181);
    font-size: 18px;
    font-family: "Outfit", 'Times New Roman', georgia, 'lucida sans', sans-serif;
    line-height: 150%;
}

h3 {
    color: rgb(94,60,88);
    background-color: rgb(131,173,181);
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

li {
    font-weight: 600;
}

/*made a ID selector for the h4 in my second selection!*/
#inspirationtechnic{
    color: rgb(94,60,88);
    font-size: 18px;
    font-style:italic;
    font-weight:bold;

}

/*this is the class selector for my second section labeled second-section!*/
.second-section{
    color:#2e4045;
}

#bonk {
    background-color: rgb(191,181,178);
    font-family: "Outfit", 'Times New Roman', georgia, 'lucida sans';
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-link{
    display: block;
    color: rgb(94,60,88);
}

footer {
    background-color: rgb(191,181,178);
}
/* for anchor footer */
 footer a{
    font-size: 1.5rem;
}


/* This is the anchor tag. It allows the underline to only show when Im hovering over it below. */
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
}
a:visited{
    color: rgb(94,60,88);
}
/* This is how to write a comment in CSS YO */

/* https://www.color-hex.com/color-palette/240 Color palet link I use for my website */

.b{
    color: black;
    /*background-color: black;*/
}

.b:hover{
    text-decoration: underline;
}

.b:visited{
    color: black;
}