/* universal selector - used to reset styles */
* {
    font-family: 'Times New Roman', "cursive", Arial;
    font-size: 14px;
    font-style: normal;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #c7bbc9;
    font-family: Arial, 'Times New Roman', georgia, 'lucida sans';
}

h1{
    background-color: rgb(94,60,88);
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    width: 50%;
    height:80px;
    padding:5px 5px 0px 5px;
    margin:5px 5px 5px 5px;
    /* Top, left, right, bottom. Goes in this order, when you add more px to margin or the box model properties */
    
}

h2{
    color: #2e4045;
    background-color:  rgb(131,173,181);
    font-family: "Outfit", 'Times New Roman', georgia, 'lucida sans', sans-serif;
    line-height: 150%;
}

li {
    font-weight: 600;
}

/*made a ID selector for the h4 in my second selection!*/
#inspirationtechnic{
    color:aquamarine
}

/*this is the class selector for my second section labeled second-section!*/
.second-section{
    color:#2e4045
}

footer{
    background-color: rgb(191,181,178);
}
/* for anchor footer */
footer a{
    font-size: 1.5rem;
}

/* This is the anchor tag. It allows the underline to only show when Im hovering over it below. */
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: black;
}
a:visited{
    color: rgb(94,60,88);
}
/* This is how to write a comment in CSS YO */

/* https://www.color-hex.com/color-palette/240 Color palet link I use for my website */